<div class="container mt-5 text-center">
  <h1>Welcome to Ironmatch</h1>
  <img src="/images/ironmatch logo.png" />
  <div>
    <button
      type="button"
      class="btn btn-primary btn-block mb-4"
      onclick="window.location.href='/auth/login';"
    >
      Log in
    </button>
    <button
      type="button"
      class="btn btn-primary btn-block mb-4"
      onclick="window.location.href='/auth/signup';"
    >
      Sign up
    </button>
  </div>
</div>
