<h1><%= appTitle %> 🚀</h1>
<p>Welcome Ironhacker!</p>
<img src="/images/ironmatch logo.png">
<div>
  <button type="button" class="btn btn-primary btn-block mb-4">Log in</button>
  <button type="button" class="btn btn-primary btn-block mb-4">Sign up</button>
</div>
