<main>
  <section class="manageClass">
    <a href="/">Add a Student</a>
    <a href="/">Send Survey</a>
  </section>
  <section class="myClass">
    <h1>My class:</h1>
    <div class="allStudents">
      <% allStudents.forEach(student => { %>
      <div class="card" style="width: 18rem">
        <img
          src="<%- student.img %>"
          class="card-img-top"
          alt="student-image"
        />
        <div class="card-body">
          <h5 class="card-title"><%= student.firstName %></h5>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
  <section class="manageTeams">
    <a href="/">Create random matches for lab work</a>
    <a href="/">Create project teams</a>
  </section>
</main>
