<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/user/profile">
      <img
        src="/images/ironmatch logo.png"
        height="50"
        alt="Logo"
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/user/profile">Profile</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn btn-primary me-3"
          onclick="window.location.href='/auth/logout';"
        >
          Log out
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<main>
  <section class="manageClass">
    <button
      type="button"
      class="btn btn-info"
      onclick="window.location.href='/student/new'"
    >
      Add a Student
    </button>
    <button type="button" class="btn btn-info">Send Survey</button>
    <button
      type="button"
      class="btn btn-info"
      onclick="window.location.href='/'"
    >
      Create random matches for lab work
    </button>
    <button
      type="button"
      class="btn btn-info"
      onclick="window.location.href='/'"
    >
      Create project teams
    </button>
  </section>
  <section class="myClass">
    <h1 class="mb-4">My class:</h1>
    <div class="allStudents">
      <% allStudents.forEach(student => { %>
      <div class="card" style="width: 18rem">
        <img
          src="<%- student.img %>"
          class="card-img-top"
          alt="student-image"
        />
        <div class="card-body">
          <h5 class="card-title"><%= student.firstName %></h5>
          <a href="/student/<%= student._id %>" class="btn btn-info">View</a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</main>
