<%- include('../partials/nav.ejs') %>

<form id="group-size" method="POST" action="/user/random-teams"> 
    <input type="number" name="typeNumber" class="form-control" />
    <label class="form-label" for="typeNumber">Group size</label>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
<% if (typeof random !== "undefined") { %>
    <ul>
        <% random.forEach(team => { %>
         <li><%= team %></li>
        <% }) %>
    </ul>
    <button
    type="button"
    class="btn btn-info"
    onclick="window.location.href='/user/random-teams/download'">Download CSV</button>
<% } %>

