body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#loginForm {
  width: 500px;
  margin: 0 auto;
}

#loginForm button {
  margin: 0 auto;
}

.allStudents {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-img-top {
  height: 20rem;
  object-fit: cover;
}

.btn-info {
  color: white;
  transition: .2s all ease-in-out;
}
.btn-info:hover {
  color: white;
  background-color: #0b7691;
}

.manageClass {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}