body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#loginForm {
  width: 500px;
  margin: 0 auto;
}

#loginForm button {
  margin: 0 auto;
}