body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#loginForm {
  width: 500px;
  margin: 0 auto;
}

#loginForm button {
  margin: 0 auto;
}

.allStudents {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.btn-info {
  color: white;
  transition: .2s all ease-in-out;
}
.btn-info:hover {
  color: white;
  background-color: #0b7691;
}

.manageClass {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-container {
  justify-content: center;
  margin: 5rem;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.student-form label {
  width: 100%;
  text-align: left;
}
.card-container {
  display: flex;
  justify-content: center;
}
.card-ctas {
  display: flex;
  gap: 1rem;
}
.delete-form {
  width: 50%;
}
.delete-form button {
  width: 100%;
}
.edit-btn {
  width: 50%;
}
#group-size {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
}
.errorMessage {
  background-color: rgb(235, 101, 101);
  color: white;
}
.th-input {
  margin-right: 10px;
}
.projectTeams-tbody td {
  padding: 20px 10px;
}
.img-small {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
/* .student-index {
  display: flex;
  flex-direction: column;
} */