<section class="index-ctn">
<div class="container text-center mt-5 form-ctn">
  <h2>Log in</h2>
  <div class="row form-container">
    <div>
      <form id="loginForm" class="form" method="POST" action="/auth/login">
        <!-- Username input -->
        <div class="form-group">
          <label
            >Username:*
            <input
              type="text"
              name="username"
              class="form-control mt-3"
              required
            />
          </label>
        </div>

        <!-- Password input -->
        <div class="form-group">
          <label
            >Password:*
            <input type="password" name="password" class="form-control mt-3" />
          </label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-info">Log in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not signed up yet? <a href="/auth/signup"> Sign up</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
